.container-radio {
    background: #eaeaea;
    border-radius: 4px;
    padding: 10px 10px 10px 5px;
    margin: 5px 0;
    cursor: pointer;
    color: #4e4e4e;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio:hover {
    background: #74d28b;
    color: white;
}

.container-radio.checked {
    background: #45b862;
    color: white;
}

.container-radio.checked:hover {
    background: #74d28b;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-radio .checkmark {
    position: absolute;
    left: 10px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 2px solid;
    border-color: #ababab;
    box-sizing: border-box;
}

.container-radio:hover input ~ .checkmark {
    border-color: #fff;
}

.container-radio input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #fff;
}

.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }